.timerContainer {
  display: flex;
  justify-content: center;
}

.label {
  background-color: rgba(173, 176, 179, 0.164);

  font-weight: 800;
}
.data {
  font-weight: 100;
}

@media (max-width: 768px) {
  .label {
    background-color: rgba(173, 176, 179, 0.164);
    font-size: 1em;
    font-weight: 800;
  }
  .data {
    font-size: 0.8em;
    font-weight: 100;
  }
}
