.homeContainer {
  width: 100%;
  /* background: linear-gradient(#62016e, #070047); */
}

.carouselContainer {
  margin-bottom: 3rem;
}

.showsContainer {
  width: 52rem;
  margin: auto;
}

.paginate {
  display: flex;
  justify-content: center;
}

.noShows {
  min-height: 60vh;
}

@media (max-width: 768px) {
  .showsContainer {
    width: 24rem;
  }
}
