.all {
  display: flex;
  justify-content: center;
}

.searchContainer {
  width: 30vw;
}

.btnGroup {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .searchContainer {
    width: 95vw;
  }
}
