.NavBarAllContainer {
  display: flex;
  /* gap: 40%; */
  justify-content: space-between;
}
.column {
  width: 13rem;
}

.logo {
  /* margin-left: 5vw; */
  height: 8rem;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgb(255, 255, 255);
}

.loginContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .NavBarAllContainer {
    display: flex;
    /* gap: 40%; */
    justify-content: space-between;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 6rem;
    margin-bottom: 2rem;
  }

  .logo {
    height: 5rem;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgb(255, 255, 255);
    margin-bottom: 2rem;
  }

  .loginContainer {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    font-size: 1rem;
  }
}
