.navContainer {
  display: flex;
  top: 0;
  font-size: 1rem;
  padding: 2rem;
}

.menu {
  display: flex;
  gap: 20%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filtrosUp {
  display: flex;
}
.filtrosDown {
  display: flex;
}

@media (max-width: 768px) {
  .navContainer {
    display: flex;
    top: 0;
    font-size: 1rem;
    padding: 0.1rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
