.loginContainer {
  color: white;

  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  margin-bottom: 3rem;
}
.logo {
  margin-top: 2rem;
  margin-left: 5vw;
  height: 5rem;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgb(255, 255, 255);
}

.error {
  color: white;
}

.inputs {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .loginContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 25%; */
  }

  .header {
    display: flex;
    margin-bottom: 3rem;
  }
  .logo {
    margin-top: 2rem;
    margin-left: 5vw;
    height: 5rem;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgb(255, 255, 255);
  }

  .error {
    color: white;
  }

  .inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
