.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyContainer {
  min-height: 50vh;
}

.heigthConfig {
  height: 12rem;
  margin-bottom: 3rem;
}

.btn {
  margin: 1rem;
}

.error {
  color: white;
}

.logo {
  font-family: Lobster Two;
  font-size: 2.5rem;
  margin-left: 1rem;
}
.googleContainer {
  margin: 3rem;
}

@media (max-width: 768px) {
  .loginContainer {
  }

  .error {
    color: white;
  }
}
