.nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.formTheaterContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  margin: 1rem;
}

.formTheaterPut {
  display: flex;
  flex-direction: column;
  /* border: 0.3rem solid rgba(20,11,14,0.76);
  border-radius: 2rem;
  border-color: black; */
  max-width: 40rem;
  max-height: 70rem;
  /* box-shadow: rgb(51, 49, 49) 10px 10px; */
  padding: 50px 40px;
  margin: 0 auto;
  align-items: left;
  margin-top: 1rem;
}
.imagen {
  height: 5rem;
}

.btnContainer {
  margin-bottom: 3rem;
}
